:root {
  --main-color: rgb(252, 252, 29);
  --second-color: rgb(34, 34, 34);
  --main-model-color: rgba(238, 238, 34, 0.9);
  --second-model-color: rgba(34, 34, 34, 0.9);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: sans-serif;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  margin: 0;
  overflow-x: hidden;
}

ul{
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}

header {
  background-color: var(--main-color);
  width: 100%;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  text-align: center;
}

.panel-btn {
  background-color: var(--main-color) !important;
  position: fixed;
  bottom: 1vh;
  right: 2vh;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  outline: none;
  z-index: 999;
}

.panel {
  background-color: var(--second-model-color);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 998;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease;
}

.panel.is-active {
  visibility: visible;
  opacity: 1;
}

.panel ul {
  list-style: none;
  padding: 0;
}

.panel ul li a {
  display: block;
  color: var(--main-color);
  text-decoration: none;
  text-align: center;
  padding: 2rem;
  transition: all 300ms ease;
  text-emphasis: weitgh;
}

.panel ul li a:hover {
  background-color: var(--main-color);
  color: var(--second-color);
}

.section {
  min-height: 100vh;
  text-align: center;
  padding: 2rem;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
}

/* *************** keyboard ball *********** */

.stage {
  display: flex;
  min-height: 50vh;
  background-color: var(--second-color);
}

.ball {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--main-color);
  margin: auto;
}

/* *************** Scroll Top ************** */

.scroll-top {
  height: 4rem;
  width: 4rem;
  position: fixed;
  bottom: 1vh;
  right: calc(1vw + 4.7rem);
  background-color: var(--main-color);
  border-radius: 50%;
  border: none;
  font-size: 50px;
  transition: all 300ms ease;
  opacity: 1;
  visibility: visible;
  outline: none;
}

.scroll-top.hidden {
  opacity: 0;
  visibility: hidden;
}

/* *************** Dark btn *********** */

#dark-btn {
  height: 4rem;
  width: 4rem;
  background-color: var(--second-color);
  border: none;
  border-radius: 50%;
  position: fixed;
  bottom: 1vh;
  left: 1vw;
  outline: none;
  font-size: 40px;
  text-align: center;
}

#dark-btn:hover {
  background-color: var(--second-color);
}

.dark {
  background-color: var(--second-color);
  color: var(--main-color);
}


.online,
.offline {
position: sticky;
top: 0;
z-index: 1000;
padding: 1rem;
font-size: 1.5rem;
font-weight: bold;
text-align: center;
background-color: green;
color: white;
margin-bottom: 1rem;
border-radius: 5px;
}

.offline{
  background-color: red;
}
.online.body,
.offline.body{
  position: relative;
  z-index: -800;
  
}

/* ************ Search filter ********** */

#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr))
}

.card{
  background-color: var(--second-color);
  color: var(--main-color);
  opacity: 1;
  visibility: visible;
  transition: all 300ms ease-out;
}

.card img{
  width: 100%;
  height: auto;
}

figcaption{
  padding: 1rem;
}

.filter{
  opacity: 0;
  visibility: hidden;
  order: 1;
  
}

/* ***************** slider************** */

#carrousel{
  display: flex;
  border: 1px solid black;
  
}

.slider-btn{
  height: 3rem;
  width: 3rem;
  font-weight: bold;
  font-size: 20px;
  border-radius: 50%;
  outline: none;
  border: 1px solid black ;
  background-color: rgba(255, 255, 255, 0.589);
}



